[submodule "dagger-git"]
	path = dagger-git
	url = https://aur.archlinux.org/dagger-git.git
[submodule "oras-git"]
	path = oras-git
	url = https://aur.archlinux.org/oras-git.git
[submodule "git-donkey"]
	path = git-donkey
	url = https://aur.archlinux.org/git-donkey.git
[submodule "harbor-cli"]
	path = harbor-cli
	url = https://aur.archlinux.org/harbor-cli.git
